<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			[v-cloak]{
				display: none;
			}
			#v_container {
				position: absolute;
				left: 660px;
				top: 265px;
			}
		</style>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/gVerify.js"></script>
		<script type="text/javascript" src="js/TP.js"></script>
	</head>
	<body>
		<div id="Admin">
			<div style="margin-left: 400px;margin-top: 100px;">
				<div style="color: #0096FF; margin-left: 30px;">管理员登录</div><br />
				<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<el-form-item label="用户名：" prop="name">
						<el-col :span="8">
							<el-input type="text" v-model="ruleForm.name" autocomplete="off" placeholder="用户名"></el-input>
							<el-col/>
					</el-form-item>
					<el-form-item label="密码：" prop="checkPass">
						<el-col :span="8">
							<el-input type="password" v-model="ruleForm.checkPass" autocomplete="off" placeholder="密码"></el-input>
							<el-col/>
					</el-form-item>
					<el-form-item label="验证码：" prop="region">
						<el-col :span="4">
							<el-input v-model="ruleForm.region" placeholder="验证码"></el-input>
							<el-col/>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
						<el-button>注册</el-button>&nbsp;&nbsp;&nbsp;
						<a href="#">忘记密码？</a>
					</el-form-item>
				</el-form>
			</div>
		</div>
		<div id="v_container" style="width: 132px;height: 40px;"></div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		var verifyCode = new GVerify("v_container");
		var vm = new Vue({
			el: '#Admin',
			data: {
				ruleForm: {
					name: '',
					checkPass: '',
					region: ''
				},
				rules: {
					name: [{
						required: true,
						message: '请输入用户名',
						trigger: 'blur'
					}],
					checkPass: [{
						required: true,
						message: '请输入密码',
						trigger: 'blur'
					}],
					region: [{
						required: true,
						message: '请输入验证码',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				submitForm(formName) {
					this.$refs[formName].validate((valid) => {
						if(valid) {
							let res = verifyCode.validate(this.ruleForm.region); //验证验证码
							if(res) {
								
							} else {
								this.$alert('验证码错误！', '系统提示');
								return;
							}
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								//alert('submit!');
								this.$alert('登录成功！', '系统提示');
								loading.close(); //关闭加载块【非常重要】
							}, 2000);
						} else {
							console.log('error submit!!');
							//验证失败
							this.$alert('请填写完整信息', '系统提示');
							return false;
						}
					});
				}
			}
		})
	</script>

</html>