<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
			}
			
			#jpy {
				width: 100%;
				height: 100%;
				/*border: #7EABAB solid 1px;*/
				margin: auto;
			}
			
			.mailTable,
			.mailTable tr,
			.mailTable tr td {
				border: 1px solid #E6EAEE;
			}
			
			.mailTable {
				font-size: 12px;
				color: #71787E;
			}
			
			.mailTable tr td {
				border: 1px solid #E6EAEE;
				width: 150px;
				height: 35px;
				line-height: 35px;
				box-sizing: border-box;
				padding: 0 10px;
			}
			
			.mailTable tr td.column {
				background-color: #EFF3F6;
				color: #393C3E;
			}
		</style>
	</head>

	<body>
		<div id="jpy">
			<h1 style="font: 24px Arial,宋体;display: inline-block;">在线拍卖系统</h1>
			<el-button size="small" type="primary" plain style="margin-left: 902px;">注销</el-button>
			<hr/>
			<template>
				<table class="mailTable" style="margin-top: 30px;">
					<tr v-for="(temp,i) in tableData">
						<td class="column" style="text-align: center;">{{temp.key}}</td>
						<td style="width: 400px;text-align: center;">{{temp.value}}</td>
					</tr>
				</table>
			</template>
			<img src="img/ad20.jpg" style="position: absolute;top:150px;right: 20px;" />
			<div style="width: 100%;height: 60px;border: #5A5A5A solid 1px;margin-top: 20px;">
				<el-form :model="ruleForm" :inline="true" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<el-form-item label="出价 :" prop="name">
						<el-input type="text" size="small" autocomplete="off" placeholder="请出价" v-model="ruleForm.name">
					</el-form-item>
					<el-form-item>
						<el-button size="small" type="primary" @click="jingpai">竞拍</el-button>
					</el-form-item>
				</el-form>
			</div>
			<br />
			<el-button @click="shuaxin" type="primary">刷新</el-button>
			<el-button @click="fanhui" type="primary">返回列表</el-button>
			<h3 style="color: #5A5A5A;font: 14.04px Arial,宋体;margin-top: 30px;">出价记录</h3>
			<br />
			<template>
				<el-table :data="tableData2" border style="width: 100%">
					<el-table-column prop="auctiontime" label="竞拍时间" width="180">

					</el-table-column>
					<el-table-column prop="auctionprice" label="竞拍价格" width="180">

					</el-table-column>
					<el-table-column prop="aname" label="竞拍人">

					</el-table-column>
				</el-table>
			</template>
		</div>
	</body>
	<script>
		var jpy = new Vue({
			el: '#jpy',
			data: {
				rules: {
					name: [{
						required: true,
						message: '请出价',
						trigger: 'blur'
					}]
				},
				ruleForm: {
					name: ''
				},
				tableData: [{ //拍卖详情名称
						key: '名称：',
						value: ''
					},
					{
						key: '描述：',
						value: ''
					},
					{
						key: '开始时间：',
						value: ''
					},
					{
						key: '结束时间：',
						value: ''
					},
					{
						key: '起拍价：',
						value: ''
					}
				],
				tableData2: [ //出价格记录
				],
				auctionid:'',//前面传过来的商品id
				data:{},	//用户对象
				auctionrecord:{	//商品记录对象
					id:'0',
					aid:'',
					auctionid:'',
					auctiontime:'',
					auctionprice:''
				}	
			},
			methods: {
				jingpai() {
					if(this.ruleForm.name == "") {
						this.$alert('请出价！', '系统提示');
						return;
					} else if(this.ruleForm.name < this.tableData[4].value) {
						this.$alert('不能低于最高竞拍价！', '系统提示');
						return;
					}else{
						this.auctionrecord.aid=this.data.aid;//将用户的aid给商品拍卖纪录的aid
						this.auctionrecord.auctionid=this.auctionid;//将商品id给商品记录的商品id
						let date=new Date();
						let rq = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
						this.auctionrecord.auctiontime=rq;	//获取到当前时间
						this.auctionrecord.auctionprice=this.ruleForm.name;
						console.log(this.auctionrecord);
						let _this = this;
						$.ajax(`http://127.0.0.1:8080/api/paimais/jinpai`,{
							type:'post',
							contentType:'application/json',
							data:JSON.stringify(_this.auctionrecord),
							dataType:'json',
							success(msg){
								if(msg.code=="200"){
									//自定义加载块
									const loading = _this.$loading({
										lock: true,
										text: '努力更新中....',
										spinner: 'el-icon-loading',
										background: 'rgba(0, 0, 0, 0.5)'
									});
									//延迟2秒，模拟网络延迟
									setTimeout(() => {
										//alert('submit!');
										alert('竞拍成功！', '系统提示');
										loading.close(); //关闭加载块【非常重要】
									}, 2000);	
								}
							}
						})
						
					}
					
				},
				csy(auctionid){	//查询商品详情
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/paimais/${auctionid}`,function(res){
						_this.tableData[0].value=res.auctionname;
						_this.tableData[1].value=res.auctiondesc;
						_this.tableData[2].value=res.auctionstarttime;
						_this.tableData[3].value=res.auctionendtime;
						_this.tableData[4].value=res.auctionstartprice;
					})
				},
				csy2(auctionid){	//查看商品拍卖纪录
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/paimais/s/${auctionid}`,function(res){
						console.log(res)
						_this.tableData2=res
					})
				},
				shuaxin(){
					this.csy2(this.auctionid);
				},
				fanhui(){
					indexApp.showView("pmplb.html");
				}
			},
			mounted(){
				this.auctionid = window.sessionStorage.getItem("auctionid");	//获取商品id
				this.data = JSON.parse(window.sessionStorage.getItem("DATA"));	//获取会员的数据
				if(this.auctionid!=null&&this.auctionid!=""){
					this.csy(this.auctionid);	//调用方法
					this.csy2(this.auctionid);	//调用方法
				}
			}
		})
	</script>

</html>