<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
			}
			
			#sp {
				margin-left: 220px;
				margin-top: 30px;
			}
			
			#v_container {
				position: absolute;
				left: 930px;
				top: 225px;
			}
			[v-cloak]{
				display: none;
			}	
		</style>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/gVerify.js"></script>
		<script type="text/javascript" src="js/TP.js"></script>
	</head>

	<body>
		<div id="login" v-cloak>
			<el-row>
				<el-col :span="8" id="sp">
					<div class="grid-content bg-purple-dark">
						<img src="img/img1.jpg" />
					</div>
				</el-col>
				<el-col :span="12">
					<div class="grid-content bg-purple-dark" style="margin-top: 60px;">
						<div style="color: #0096FF; margin-left: 30px;">用户登录</div><br />
						<el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
							<el-form-item label="用户名：" prop="name">
								<el-col :span="12">
									<el-input type="text" v-model="ruleForm.name" autocomplete="off" placeholder="用户名"></el-input>
									<el-col/>
							</el-form-item>
							<el-form-item label="密码：" prop="checkPass">
								<el-col :span="12">
									<el-input type="password" v-model="ruleForm.checkPass" autocomplete="off" placeholder="密码"></el-input>
									<el-col/>
							</el-form-item>
							<el-form-item label="验证码：" prop="region">
								<el-col :span="6">
									<el-input v-model="ruleForm.region" placeholder="验证码"></el-input>
									<el-col/>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
								<el-button @click="zc">注册</el-button>&nbsp;&nbsp;&nbsp;
								<a href="#">忘记密码？</a>
							</el-form-item>
						</el-form>
					</div>
					</el-col>
			</el-row>
		</div>
		<div id="v_container" style="width: 132px;height: 40px;"></div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		var verifyCode = new GVerify("v_container");
		var vm = new Vue({
			el: '#login',
			data: {
				ruleForm: {
					name: '',
					checkPass: '',
					region: ''
				},
				rules: {
					name: [{
						required: true,
						message: '请输入用户名',
						trigger: 'blur'
					}],
					checkPass: [{
						required: true,
						message: '请输入密码',
						trigger: 'blur'
					}],
					region: [{
						required: true,
						message: '请输入验证码',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				submitForm(formName) {
					let _this = this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							let res = verifyCode.validate(this.ruleForm.region); //验证验证码
							if(res) {
								$.ajax(`http://127.0.0.1:8080/api/paimais/${_this.ruleForm.name}/${_this.ruleForm.checkPass}`,{
									type:'get',
									success(data){
										if(data!=null&&data!=""){
										sessionStorage.setItem("DATA",JSON.stringify(data));
										//验证通过
										//自定义加载块
										const loading = _this.$loading({
											lock: true,
											text: '努力更新中....',
											spinner: 'el-icon-loading',
											background: 'rgba(0, 0, 0, 0.5)'
										});
										//延迟2秒，模拟网络延迟
										setTimeout(() => {
											//alert('submit!');
											alert('登录成功！你将前往商品首页');
											location.href="index.html"
											loading.close(); //关闭加载块【非常重要】											
										}, 2000);	
									}else{
										_this.$alert("用户名或密码错误！");
									}
									},
									error(XMLHttpRequest, textStatus, errorThrown){
										console.log(XMLHttpRequest.status);//状态码
       									console.log(XMLHttpRequest.readyState);//状态
       									console.log(textStatus);//错误信息
									}
								});
							} else {
								this.$alert('验证码错误！', '系统提示');
								return;
							}
						} else {
							console.log('error submit!!');
							//验证失败
							this.$alert('请填写完整信息', '系统提示');
							return false;
						}
					});
				},
				zc(){
					window.location.href="register.html";
				}
			}
		})
	</script>

</html>